*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 100%;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.oculto{
    display: none;
}
.bg-red{
    background-color: rgb(191, 19, 19);
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.menu li a{
    color: white;
    font-size: 20px;
}
footer{
    margin-top: 20px;
    padding: 20px;
}
footer h2{
    color: #fff;
    font-size: 25px;
}

#resultado{
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}
header{
    width: 100%;
}
nav{
    width: 100%;
}
.bloque{
    margin: 100px 0;
}